# Sadly arcgis, numpy and DLLs don't get along with python>3.7 on Windows.
# Sadly there seem to be problems using newer Pythons with celery, too.
python=3.6.12
arcgis>=1.8.3
bs4>=4.9
tzlocal>=2.1
autopep8>=1.5.4
requests
flask>=1.1.2
flask-bootstrap>=3.2
flask-wtf>=0.14
flask-debugtoolbar>=0.10.1
pytz
jinja2>=2.11.2
blinker>=1.4
python-dotenv>=0.15.0
celery>=5.0.2
redis-py>=3.5.3
json2table
